body{
  font-size: 18px;
}
/* NAV-BAR */
.navbar{
  background-color: #fff;
  padding:0;
  margin: 0 auto;
}

/* logo\img */
.logo{
  width: 170px;
  margin-top: 16px;
  margin-right: 10px;
}
.logo img{
  max-width: 100%;
}

.angle::before{
  left: 10px;
  display: inline-block;
  width: 30%;
  height: 4px;
}
.btn-sign-up{
  border: 1px solid #2485fd;
  border-radius: 5px;
}
 header .navbar-default .navbar-nav .btn-sign-up{
   color:#2485fd;
 }
/* MAIN */
.background-top-main{
  background-image: url(../img/bg-banner-home.jpg);
}
.text-box{
  color:#fff;
  margin-top: 55px;
  margin-bottom: 55px;
}
/* box-mail */
.text-box h1,p{
  padding: 15px;
}
.box-mail{
  margin-top: 55px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 55px;
}
.form-control{
  margin: 6px;
}
.account{
  border-radius: 5px;
  margin: auto;
  width: 500px;
  background-color:#2485fd;
  margin: 4px;
}
.blue-color{
  color:#0049ff;
}
.google{
  border-radius: 5px;
  margin: auto;
  width: 500px;
  margin: 4px;
}
/* INNOVATE BUSSINESS */
.icon ul li{
  display:inline-block;
  text-decoration: none;

}
ul li img{
  width: calc(100% / 6);
}
