body{
  font-size: 12px;
  padding-bottom: 90px;
}
/* NAV-BAR */
.navbar{
  background-color: #fff;
  padding:0;
  margin: 0 auto;
}

/* logo\img */
.logo{
  width: 170px;
  margin-top: 16px;
  margin-right: 10px;
}
.logo img{
  max-width: 100%;
}

.angle::before{
  left: 10px;
  display: inline-block;
  width: 30%;
  height: 4px;
}
.btn-sign-up{
  border: 1px solid #2485fd;
  border-radius: 5px;
}
 header .navbar-default .navbar-nav .btn-sign-up{
   color:#2485fd;
 }
/* MAIN */
.background-top-main{
  background-image: url(../img/bg-banner-home.jpg);
}
.text-box{
  color:#fff;
  margin-top: 55px;
  margin-bottom: 55px;
}
/* box-mail */
.text-box h1,p{
  padding: 15px;
}
.box-mail{
  margin-top: 55px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 55px;
}
.form-control{
  margin: 6px;
}
.account{
  border-radius: 5px;
  margin: auto;
  width: 100%;
  background-color:#2485fd;
  margin: 4px;
}
.blue-color{
  color:#0049ff;
}
.google{
  border-radius: 5px;
  margin: auto;
  width: 100%;
  margin: 4px;
}
/* INNOVATE BUSSINESS */
.backgraun-lite-grey{
  background-color: #f3f5f9;
}
.ico img{
  width:150px;

  margin-left: 31px;
  margin-right: 31px;

}
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Mostra hamburger */
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
    }
    /* Nascondi contenitore menu */
    .navbar-collapse {
        display: none;
    }
}
@media screen and (max-width: 768px){
  ul li img{
    width: calc(100% / 2 - 12px );
  }

}
.row h5{
  color:#b7b7b7;
}
.box-list ul li{
  display: inline-block;
  width: calc(100% / 6 - 20px);
}
ul li img{
  max-width: 100%;
}
.box-list ul a{
  font-size: 35px;
  margin-bottom:30px;
}
.box-list-vertical ul li{
  list-style:none;
  border-left: 1px solid #b7b7b7;
  padding-left: 5px;
  color:#7d7d7d;
}
.mini-box{
  width: 300px;
}
